/Solucion_Codigo/Problema1_SistemaDeVentas/nbproject/private/
/Solucion_Codigo/Problema1_SistemaDeVentas/build/
/Solucion_Codigo/Problema2_SistemaCalificaciones/nbproject/private/
/Solucion_Codigo/Problema2_SistemaCalificaciones/build/
/Solucion_Codigo/Problema3_SistemaCategorizacion/nbproject/private/
/Solucion_Codigo/Problema3_SistemaCategorizacion/build/
/Solucion_Codigo/Problema4_Fiscalia/nbproject/private/
/Solucion_Codigo/Problema4_Fiscalia/build/
/Solucion_Codigo/Problema5_Guerra/nbproject/private/
/Solucion_Codigo/Problema5_Guerra/build/
